<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64887230238-sgh9bv4mbi9hredn4i0mtju6qetgmt9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64887230238-sgh9bv4mbi9hredn4i0mtju6qetgmt9g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>64887230238-8tk6g2mnmtjrghu0fs3hti4rtpimnqu8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCv3DmkBSPhaNFQIMl-7QBQCj33FP4ybqA</string>
	<key>GCM_SENDER_ID</key>
	<string>64887230238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.uniyo</string>
	<key>PROJECT_ID</key>
	<string>uniyo-developer-8f01c</string>
	<key>STORAGE_BUCKET</key>
	<string>uniyo-developer-8f01c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64887230238:ios:da96120b7e498dadf3030f</string>
	<key>DATABASE_URL</key>
	<string>https://uniyo-developer-8f01c.firebaseio.com</string>
</dict>
</plist>